<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of dataMahasiswa">
    <ion-item>
      <ion-label>
        <h2>{{ item.nama }}</h2>
        <p>{{ item.jurusan }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="hapusMahasiswa(item.id)">
          Hapus
        </ion-button>
        <ion-button (click)="open_modal_edit(true, item.id)">
          Edit
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-button (click)="open_modal_tambah(true)" expand="full">
      Tambah Mahasiswa
    </ion-button>
  </ion-card>

  <!-- Modal untuk tambah -->
  <ion-modal [isOpen]="modal_tambah">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button type="button" (click)="cancel()" color="light">Batal</ion-button>
          </ion-buttons>
          <ion-title>Tambah Mahasiswa</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nama Mahasiswa</ion-label>
          <ion-input [(ngModel)]="nama" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Jurusan Mahasiswa</ion-label>
          <ion-input [(ngModel)]="jurusan" type="text" required></ion-input>
        </ion-item>
        <ion-button (click)="tambahMahasiswa()" color="success" shape="full" expand="full">
          Tambah Mahasiswa
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal untuk edit -->
  <ion-modal [isOpen]="modal_edit">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button type="button" (click)="cancel()" color="light">Batal</ion-button>
          </ion-buttons>
          <ion-title>Edit Mahasiswa</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nama Mahasiswa</ion-label>
          <ion-input [(ngModel)]="nama" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Jurusan Mahasiswa</ion-label>
          <ion-input [(ngModel)]="jurusan" type="text" required></ion-input>
        </ion-item>
        <ion-input [(ngModel)]="id" type="hidden"></ion-input>
        <ion-button (click)="editMahasiswa()" color="warning" shape="full" expand="full">
          Edit Mahasiswa
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
